<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container px-3 px-lg-4">
        <a class="navbar-brand" routerLink="/Home">
            <h3>Logo</h3>
            <!-- <img src="../../../assets/images/logo-removebg-preview.png" alt="" width="120px" /> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/Home" routerLinkActive="active">
                        Home
                    </a>
                </li>
                <!-- <li class="nav-item"><a class="nav-link" routerLink="/Products" routerLinkActive="active">Shop</a></li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/Shop" routerLinkActive="active">All Students</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <!-- <li><a class="dropdown-item" href="#!">Popular Items</a></li> -->
                        <!-- <li><a class="dropdown-item" href="#!">New Arrivals</a></li> -->
                        <li><a class="dropdown-item" routerLink="/Admin/AddProduct">Add Student</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex gap-2">
                <ng-container *ngIf="!isUserLogged">
                    <li class="d-flex align-items-center" routerLink="/Login" style="cursor: pointer;"><a
                            class="nav-item nav-link text-dark" routerLinkActive="active">Login</a>
                    </li>
                    <li class="d-flex align-items-center"><a class="nav-item nav-link text-dark" routerLink="/Register"
                            routerLinkActive="active">Register</a></li>
                </ng-container>

                <ng-container *ngIf="isUserLogged">
                    <li class="nav-item dropdown text-dark">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Profile</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" routerLink="/User/UserProfile"
                                    routerLinkActive="active">ViewProfile</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" routerLink="/User/EditUserProfile">Edit Profile</a></li>
                            <li (click)="logout()" style="cursor: pointer;"><a class="dropdown-item">Logout</a></li>
                        </ul>
                    </li>
                </ng-container>
            </form>
        </div>
    </div>
</nav>