<div class="Home">

    <div class="icons">
        <img src="../../../assets/templateStyles/images/HomeIcons/icons8-cloud-100.png" alt="">
        <img src="../../../assets/templateStyles/images/HomeIcons/icons8-moon-100.png" alt="">
        <img src="../../../assets/templateStyles/images/HomeIcons/icons8-rainbow-64.png" alt="">
        <img src="../../../assets/templateStyles/images/HomeIcons/icons8-snowflake-96.png" alt="">
        <img src="../../../assets/templateStyles/images/HomeIcons/icons8-spaceship-64.png" alt="">
        <img src="../../../assets/templateStyles/images/HomeIcons/icons8-sun-100.png" alt="">
        <img src="../../../assets/templateStyles/images/HomeIcons/star (1).png" alt="">
        <img src="../../../assets/templateStyles/images/HomeIcons/icons8-cloud-100.png" alt="">
    </div>

    <h1>
        Great platform for Little Explorers
    </h1>
</div>